{% extends "base.html" %}

{% block title %}
    Students
{% endblock %}

{% block content %}

    <h1>Students</h1>
    <a
    href="{{ url_for('students.create_student') }}"
    class="button">Add student
    </a>

    
    


    
{% if students %}
    <div class="table-container">
        <table>

        
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Class</th>
                    <th>Actions</th>

                </tr>
            </thead>

            <tbody>

                {% for student in students %}

                    <tr>
                        <td>{{ student.id }}</td>
                        <td>
                            {{ student.first_name }}
                            {{ student.last_name }}
                        </td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td>{{ student.class_name }}</td>

                        <td>
                            <a href="{{ url_for('students.view_student', student_id=student.id) }}" class="action-link">View</a>
                            <a href="{{ url_for('students.edit_student', student_id=student.id) }}" class="action-link">Edit</a>
                            <form
                                method="POST"
                                action="{{ url_for('students.delete_student', student_id=student.id) }}"
                                onsubmit="return confirm('Are you sure you want to delete this student?');">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

{% else %}

        <p>No students found.</p>
    {% endif %}

            

{% endblock %}